<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StuCourseMapper">
    
    <resultMap type="StuCourse" id="StuCourseResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="desc"    column="desc"    />
        <result property="remark"    column="remark"    />
        <result property="credit"    column="credit"    />
        <result property="passScore"    column="pass_score"    />
        <result property="type"    column="type"    />
        <result property="method"    column="method"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDel"    column="is_del"    />
    </resultMap>

    <sql id="selectStuCourseVo">
        select `id`, `name`, `desc`, `remark`, `credit`, `pass_score`, `type`, `method`, `status`, `create_time`, `update_time`, `is_del` from `stu_course`
    </sql>

    <select id="selectStuCourseList" parameterType="StuCourse" resultMap="StuCourseResult">
        <include refid="selectStuCourseVo"/>
        <where>  
            <if test="name != null  and name != ''"> and `name` like concat('%', #{name}, '%')</if>
            <if test="desc != null  and desc != ''"> and `desc` = #{desc}</if>
            <if test="credit != null "> and credit = #{credit}</if>
            <if test="passScore != null "> and pass_score = #{passScore}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="method != null "> and `method` = #{method}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="isDel != null "> and is_del = #{isDel}</if>
        </where>
    </select>
    
    <select id="selectStuCourseById" parameterType="Long" resultMap="StuCourseResult">
        <include refid="selectStuCourseVo"/>
        where id = #{id}
    </select>

    <insert id="insertStuCourse" parameterType="StuCourse" useGeneratedKeys="true" keyProperty="id">
        insert into stu_course
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">`name`,</if>
            <if test="desc != null">`desc`,</if>
            <if test="remark != null">remark,</if>
            <if test="credit != null">credit,</if>
            <if test="passScore != null">pass_score,</if>
            <if test="type != null">`type`,</if>
            <if test="method != null">`method`,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDel != null">is_del,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="desc != null">#{desc},</if>
            <if test="remark != null">#{remark},</if>
            <if test="credit != null">#{credit},</if>
            <if test="passScore != null">#{passScore},</if>
            <if test="type != null">#{type},</if>
            <if test="method != null">#{method},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDel != null">#{isDel},</if>
         </trim>
    </insert>

    <update id="updateStuCourse" parameterType="StuCourse">
        update stu_course
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="desc != null">`desc` = #{desc},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="credit != null">credit = #{credit},</if>
            <if test="passScore != null">pass_score = #{passScore},</if>
            <if test="type != null">`type` = #{type},</if>
            <if test="method != null">`method` = #{method},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDel != null">is_del = #{isDel},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStuCourseById" parameterType="Long">
        delete from stu_course where id = #{id}
    </delete>

    <delete id="deleteStuCourseByIds" parameterType="String">
        delete from stu_course where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>