<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StuStudentCourseRelationMapper">
    
    <resultMap type="StuStudentCourseRelation" id="StuStudentCourseRelationResult">
        <result property="id"    column="id"    />
        <result property="courseId"    column="course_id"    />
        <result property="studentId"    column="student_id"    />
        <result property="week"    column="week"    />
        <result property="timetableType"    column="timetable_type"    />
        <result property="address"    column="address"    />
        <result property="teacherId"    column="teacher_id"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDel"    column="is_del"    />
    </resultMap>

    <sql id="selectStuStudentCourseRelationVo">
        select id, course_id, student_id, week, timetable_type, address, teacher_id, status, create_time, update_time, is_del from stu_student_course_relation
    </sql>

    <select id="selectStuStudentCourseRelationList" parameterType="StuStudentCourseRelation" resultMap="StuStudentCourseRelationResult">
        <include refid="selectStuStudentCourseRelationVo"/>
        <where>  
            <if test="courseId != null "> and course_id = #{courseId}</if>
            <if test="studentId != null "> and student_id = #{studentId}</if>
            <if test="week != null "> and week = #{week}</if>
            <if test="timetableType != null "> and timetable_type = #{timetableType}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="teacherId != null "> and teacher_id = #{teacherId}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="isDel != null "> and is_del = #{isDel}</if>
        </where>
    </select>
    
    <select id="selectStuStudentCourseRelationById" parameterType="Long" resultMap="StuStudentCourseRelationResult">
        <include refid="selectStuStudentCourseRelationVo"/>
        where id = #{id}
    </select>

    <insert id="insertStuStudentCourseRelation" parameterType="StuStudentCourseRelation" useGeneratedKeys="true" keyProperty="id">
        insert into stu_student_course_relation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="courseId != null">course_id,</if>
            <if test="studentId != null">student_id,</if>
            <if test="week != null">week,</if>
            <if test="timetableType != null">timetable_type,</if>
            <if test="address != null and address != ''">address,</if>
            <if test="teacherId != null">teacher_id,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDel != null">is_del,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="courseId != null">#{courseId},</if>
            <if test="studentId != null">#{studentId},</if>
            <if test="week != null">#{week},</if>
            <if test="timetableType != null">#{timetableType},</if>
            <if test="address != null and address != ''">#{address},</if>
            <if test="teacherId != null">#{teacherId},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDel != null">#{isDel},</if>
         </trim>
    </insert>

    <update id="updateStuStudentCourseRelation" parameterType="StuStudentCourseRelation">
        update stu_student_course_relation
        <trim prefix="SET" suffixOverrides=",">
            <if test="courseId != null">course_id = #{courseId},</if>
            <if test="studentId != null">student_id = #{studentId},</if>
            <if test="week != null">week = #{week},</if>
            <if test="timetableType != null">timetable_type = #{timetableType},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="teacherId != null">teacher_id = #{teacherId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDel != null">is_del = #{isDel},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStuStudentCourseRelationById" parameterType="Long">
        delete from stu_student_course_relation where id = #{id}
    </delete>

    <delete id="deleteStuStudentCourseRelationByIds" parameterType="String">
        delete from stu_student_course_relation where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>